@media print {
  @page {
    size: A4;
  }
}

#invoice-POS {
  /* box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); */
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  background: #fff;
}

::selection {
  background: #f31544;
  color: #fff;
}
::moz-selection {
  background: #f31544;
  color: #fff;
}

#invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}

#invoice-POS h2 {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
}

#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
#invoice-POS p {
  font-size: 0.7em;
  color: #666;
  line-height: 1.2em;
}

#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #eee;
}

#invoice-POS #top {
  min-height: 30px;
}
#invoice-POS #mid {
  text-align: center;
  min-height: 60px;
}
#invoice-POS #bot {
  min-height: 50px;
}

#invoice-POS #top .logo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http:michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}

#invoice-POS .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http:michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
#invoice-POS .info {
  color: #222;
  display: block;
  margin-left: 0;
}

#invoice-POS .title {
  float: right;
}
#invoice-POS .title p {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px 0 5px 15px;
  /* border: 1px solid #eee; */
}
.tabletitle {
  padding: 5px;
  font-size: 0.5em;
}

.service {
  border-bottom: 1px solid #eee;
}
.item {
  width: 24mm;
}
.itemtext {
  font-size: 0.5em !important;
  font-weight: 600 !important;
}

#legalcopy {
  padding: 1% 0;
}
