html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
}

#main > div {
  height: 100%;
  overflow-y: auto;
}

.css-r6z5ec {
  width: 30%;
}

.rdrStaticRanges,
.rdrInputRange span {
  color: black;
}

.rdrInputRangeInput {
  background: none !important;
}

.rdrCalendarWrapper {
  width: -webkit-fill-available;
}
.rdrMonth {
  width: 100% !important;
}
